.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.center {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-21 {
    margin: -21px 0 0 0;
}

.box {
    padding: 10px;
    margin: 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.box > shore-icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    margin-right: 5px;
}

.box:hover {
    background-color: #f0f0f0;
}

.overlay{
    display: block;
    position: fixed;
    left: -300px;
    top: -300px;
    right: -300px;
    bottom: -300px;
    background: rgba(34,34,34,.66);
    z-index: 10;
}
.popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: auto;
    text-align: center;
    z-index: 100;
    white-space: nowrap;
    font-size: 0
}
.popup-overlay::before{
    content:"";
    display:inline-block;
    vertical-align:middle;
    width:0;
    height:100%
}

.popup{
    display:inline-block;
    vertical-align:middle;
    text-align:left;
    z-index:20;
    font-size:16px
}

.block{
    display:block!important
}

.noMargin {
    margin: 0;
}

.mainOverlay {
    display: flex;
    width: 100%;
    height: 100%;
}

.about {
    width: 70px;
    padding: 0 80px 0 0;
}

.contentDiv {
    height: 600px;
}

.fullWidth {
    width: 100%;
}

.paddingLeft20 {
    padding: 0 0 0 20px;
}

.cursorPointer {
    cursor: pointer;
}

.loadingSpinner {
    font-size: 75%;
}
